* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #85bb65; /* Light beige background */
    color: #333333;
}

header {
    background-color: #999999; /* Gray */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    text-decoration: none;
}

header .logo h1 {
    color: #f5f5f5; /* Beige Text */
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
}

/* About Us Page Specific Styling */
.about-intro {
    background-color: #e0d5c0; /* Beige */
    padding: 40px 20px;
    text-align: center;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 8px;
}

.about-intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-intro p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.team {
    text-align: center;
    padding: 40px 20px;
}

.team h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.team-member {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    flex-basis: 45%;
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer {
    background-color: #999999;
    color: #f5f5f5;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
