* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header .logo a {
    text-decoration: none;
}

header .logo h1 {
    color: #f5f5f5; /* Beige Text */
}

body {
    background-color: #f5f5f5; /* Light beige background */
    color: #333333;
}

header {
    background-color: #999999; /* Gray */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #f5f5f5; /* Beige Text */
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
}

.hero {
    background-color: #e293d8; /* Beige */
    padding: 60px 20px;
    text-align: center;
    color: #333333;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #999999; /* Gray */
    color: #f5f5f5;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #666666; /* Darker Gray */
}

/* Main section styles */
main {
    flex: 1;
    padding: 20px;
    background-color: #e0d5c0;
}

/* Team section styles */
.team {
    background-color: #e0d5c0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.team h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    background-color: #e0e0e0;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    flex-basis: 23%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-member img {
    width: 100px;
    height: 177.78px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.team-member p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

footer {
    background-color: #999999;
    color: #f5f5f5;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
